doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title=title 
        link(rel="stylesheet", href="/stylesheet/css/bootstrap.min.css")
        link(rel="stylesheet", href="dashboard.css")
        link(rel="stylesheet", href="/static/all.css")
    body 
        .container
            .row
                .col-md-12.mt-5(style="background-color: #fff; margin-top: 25px; padding: 20px")
                    h3
                        a.btn.btn-primary.me-4(href="/")
                            i.fa.fa-plus
                            | Register New
                        | Patient List
                        a.btn.btn-primary.ms-4(href="/")
                            i.fas.fa-arrow-alt-circle-left
                            | Back
                    table.table.table-striped.table-hover.mt-5
                        thead.table-dark
                            tr
                                th Surname
                                th Given Name
                                th D.O.B
                                th Residence
                                th Occupation
                                th Nationality
                                th Gender
                                th Category
                                
                        tbody
                            if patients.length
                            each patient in patients
                                tr
                                    td #{patient.surname}
                                    td #{patient.givenName}
                                    td #{patient.dob}
                                    td #{patient.residence}
                                    td #{patient.occupation}
                                    td #{patient.nationality}
                                    td #{patient.gender}
                                    td #{patient.category}
                                    
        script(src="js/bootstrap.bundle.js")
        script(src="/static/all.js")